.status-bar-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.status-bar-row-total {
  margin-bottom: 1rem;
}

.status-bar-row-reserved {
  margin-bottom: 1rem;
}

.status-bar-row-vacant {
  margin-bottom: 1rem;
}
