.user-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.user-input {
  width: 15rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.user-input-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.user-input-msg {
  border: 1px solid;
}
